/* recipes - section */

.recipes {
  min-height: 60vh;
  background-color: $yellow;
  display: flex;
  align-items: center;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    .card {
      background-color: #fff;
      max-width: 600px;
      h2 {
        text-align: center;
      }
    }
    .recipes__img {
      max-width: 600px;
      // margin: 0 -30px;
    }
  }
}

@include respond(tab-port) {
  .container {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    .recipes__img {
      margin: 0;
      width: 100%;
    }
  }
}
@include respond(tab-land) {
  .container {
    justify-content: center;
    padding: 20px;
    .recipes__img {
      width: 60%;
      margin: 0;
    }
  }
}
