.card {
  max-width: 65rem;
  padding: 1rem 2rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 10px 10px 15px -5px rgba(0, 0, 0, 0.45);
}

.card__text {
  margin: 1em 0;
  text-align: center;
}

.card__actions {
  height: 50px;
  display: flex;
  justify-content: center;
}

@include respond(tab-port) {
  .hero {
    .card {
      width: calc(95% - 10px);
      margin: 0 auto;
    }
  }
  .card__actions {
    height: auto;
    margin-top: 2em;
    flex-direction: column;
    text-align: center;
    .btn {
      margin-bottom: 15px;
      font-size: 2.2rem;
      padding: 0.6em;
    }
  }
}
